.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
README.md
tests
